<div id="full-orders-page" class="wrapper">
    <div class="container">
        <div class="row right pb-24">
            <div class="col right pr-16">
                <div class="dropdown">
                    <span class="f-24" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><i class="fas fa-bars"></i></span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="['/products']"
                            routerLinkActive="router-link-active">Produtos</a>
                        <a class="dropdown-item" [routerLink]="['/store-settings']">Configurações da loja</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()">Sair <i class="fas fa-power-off"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <select class="select custom-select" #listTypeInput (input)="orderType = listTypeInput.value" id="">
                    <option value="Em andamento">Em andamento</option>
                    <option value="Concluidos">Concluidos</option>
                </select>
            </div>
        </div>
    </div>


    <div *ngIf="orderType == 'Em andamento'">
        <div class="container-scroll">
            <div class="row-list">
                <div class="order-list-card">
                    <div class="row left pl-16 pb-16">
                        <div class="col">
                            <span class="f-24">Pedidos pendentes</span>
                        </div>
                    </div>
                    <div class="order-scroll">
                        <div class="row order-spec" *ngFor="let order of activeOrders">
                            <div class="col">
                                <div class="row">
                                    <div class="col left">
                                        <span class="f-24 f-bold">
                                            {{ order.userNname }}
                                        </span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-24">
                                            {{order.price | currencyFormat}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-18 f-bold">Subtotal e Valor da entrega</span>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col">
                                        <span class="f-16">Subtotal:</span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-16">{{order?.subTotal | currencyFormat}}</span>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col">
                                        <span class="f-16">Valor da entrega:</span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-16">{{order?.deliveryPrice | currencyFormat}}</span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-18 f-bold">Resumo do pedido</span>
                                    </div>
                                </div>
                                <div class="row f-18" *ngFor="let item of order.items">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span class="f-16">{{item.name}} - {{item.quantity}}x</span>
                                            </div>
                                            <div class="col right">
                                                <span class="f-16">{{item.price | currencyFormat}}</span>
                                            </div>
                                        </div>
                                        <div *ngIf="item.toppings">
                                            <div class="row pl-24" *ngFor="let topping of item.toppings">
                                                <div class="col">• {{topping.name}} - {{topping.quantity}}x</div>
                                                <div class="col right">
                                                    <span class="f-16">{{topping.price | currencyFormat}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-18 f-bold">Endereço de entrega</span>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col">
                                        <span class="f-16">{{order?.userAddress?.address}},
                                            {{order?.userAddress?.number}} -
                                            {{order?.userAddress?.neightborhood}}</span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col-8">
                                        <span class="f-16">Tempo de entrega após aprovação:</span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-16">{{order.timeToDelivery}} minutos</span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-16">Pedido relizado em {{ order.createdDate }}</span>
                                    </div>
                                </div>
                                <div class="row f-24">
                                    <div class="col center">
                                        <span class="under-line f-16 clickable" (click)="detailPage(order.key)">Ver
                                            detalhes</span>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col">
                                        <div class="btn-sect pt-16">
                                            <button class="btn btn-default" (click)="aproveOrder(order.key)">Aprovar
                                                pedido</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-list-card">
                    <div class="row left pl-16 pb-16">
                        <div class="col">
                            <span class="f-24">Em preparação</span>
                        </div>
                    </div>
                    <div class="order-scroll">
                        <div class="row order-spec" *ngFor="let order of preparingOrders">
                            <div class="col left">
                                <div class="row">
                                    <div class="col left">
                                        <span class="f-24 f-bold">
                                            {{ order.userNname }}
                                        </span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-24">
                                            {{order.price | currencyFormat}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-18 f-bold">Subtotal e Valor da entrega</span>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col">
                                        <span class="f-16">Subtotal:</span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-16">{{order?.subTotal | currencyFormat}}</span>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col">
                                        <span class="f-16">Valor da entrega:</span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-16">{{order?.deliveryPrice | currencyFormat}}</span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-18 f-bold">Resumo do pedido</span>
                                    </div>
                                </div>
                                <div class="row f-18" *ngFor="let item of order.items">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span class="f-16">{{item.name}} - {{item.quantity}}x</span>
                                            </div>
                                            <div class="col right">
                                                <span class="f-16">{{item.price | currencyFormat}}</span>
                                            </div>
                                        </div>
                                        <div *ngIf="item.toppings">
                                            <div class="row pl-24" *ngFor="let topping of item.toppings">
                                                <div class="col">• {{topping.name}} - {{topping.quantity}}x</div>
                                                <div class="col right">
                                                    <span class="f-16">{{topping.price | currencyFormat}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-18 f-bold">Endereço de entrega</span>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col">
                                        <span class="f-16">{{order?.userAddress?.address}},
                                            {{order?.userAddress?.number}} -
                                            {{order?.userAddress?.neightborhood}}</span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col-8">
                                        <span class="f-16">Tempo de entrega após aprovação:</span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-16">{{order.timeToDelivery}} minutos</span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-16">Pedido relizado em {{ order.createdDate }}</span>
                                    </div>
                                </div>
                                <div class="row f-24">
                                    <div class="col center">
                                        <span class="under-line f-16 clickable" (click)="detailPage(order.key)">Ver
                                            detalhes</span>
                                    </div>
                                </div>
                                <div class="btn-sect pt-16">
                                    <button class="btn btn-default"
                                        (click)="doneOrder(order.key, order.userNname, order.userPhone)">Pedido
                                        pronto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-list-card">
                    <div class="row left pl-16 pb-16">
                        <div class="col">
                            <span class="f-24">Pedidos prontos</span>
                        </div>
                    </div>
                    <div class="order-scroll">
                        <div class="row order-spec" *ngFor="let order of doneOrders">
                            <div class="col left">
                                <div class="row">
                                    <div class="col left">
                                        <span class="f-24 f-bold">
                                            {{ order.userNname }}
                                        </span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-24">
                                            {{order.price | currencyFormat}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-18 f-bold">Subtotal e Valor da entrega</span>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col">
                                        <span class="f-16">Subtotal:</span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-16">{{order?.subTotal | currencyFormat}}</span>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col">
                                        <span class="f-16">Valor da entrega:</span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-16">{{order?.deliveryPrice | currencyFormat}}</span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-18 f-bold">Resumo do pedido</span>
                                    </div>
                                </div>
                                <div class="row f-18" *ngFor="let item of order.items">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span class="f-16">{{item.name}} - {{item.quantity}}x</span>
                                            </div>
                                            <div class="col right">
                                                <span class="f-16">{{item.price | currencyFormat}}</span>
                                            </div>
                                        </div>
                                        <div *ngIf="item.toppings">
                                            <div class="row pl-24" *ngFor="let topping of item.toppings">
                                                <div class="col">• {{topping.name}} - {{topping.quantity}}x</div>
                                                <div class="col right">
                                                    <span class="f-16">{{topping.price | currencyFormat}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-18 f-bold">Endereço de entrega</span>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col">
                                        <span class="f-16">{{order?.userAddress?.address}},
                                            {{order?.userAddress?.number}} -
                                            {{order?.userAddress?.neightborhood}}</span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col-8">
                                        <span class="f-16">Tempo de entrega após aprovação:</span>
                                    </div>
                                    <div class="col right">
                                        <span class="f-16">{{order.timeToDelivery}} minutos</span>
                                    </div>
                                </div>
                                <div class="row pt-16">
                                    <div class="col">
                                        <span class="f-16">Pedido relizado em {{ order.createdDate }}</span>
                                    </div>
                                </div>
                                <div class="row f-24">
                                    <div class="col center">
                                        <span class="under-line f-16 clickable" (click)="detailPage(order.key)">Ver
                                            detalhes</span>
                                    </div>
                                </div>
                                <div class="btn-sect pt-16">
                                    <button class="btn btn-default" (click)="payedOrder(order.key)">Pedido pago
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="orderType == 'Concluidos'">
        <div class="container">
            <div class="row-list">
                <div class="col order-card">
                    <div class="row left pl-16 pb-16">
                        <div class="col">
                            <span class="f-24">Pedidos pagos</span>
                        </div>
                    </div>
                    <div class="row order-spec" *ngFor="let order of payedOrders">
                        <div class="col left">
                            <div class="row">
                                <div class="col left">
                                    <span class="f-24 f-bold">
                                        {{ order.userNname }}
                                    </span>
                                </div>
                                <div class="col right">
                                    <span class="f-24">
                                        {{order.price | currencyFormat}}
                                    </span>
                                </div>
                            </div>
                            <div class="row pt-16">
                                <div class="col">
                                    <span class="f-18 f-bold">Subtotal e Valor da entrega</span>
                                </div>
                            </div>
                            <div class="row pt-8">
                                <div class="col">
                                    <span class="f-16">Subtotal:</span>
                                </div>
                                <div class="col right">
                                    <span class="f-16">{{order?.subTotal | currencyFormat}}</span>
                                </div>
                            </div>
                            <div class="row pt-8">
                                <div class="col">
                                    <span class="f-16">Valor da entrega:</span>
                                </div>
                                <div class="col right">
                                    <span class="f-16">{{order?.deliveryPrice | currencyFormat}}</span>
                                </div>
                            </div>
                            <div class="row pt-16">
                                <div class="col">
                                    <span class="f-18 f-bold">Resumo do pedido</span>
                                </div>
                            </div>
                            <div class="row f-18" *ngFor="let item of order.items">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <span class="f-16">{{item.name}} - {{item.quantity}}x</span>
                                        </div>
                                        <div class="col right">
                                            <span class="f-16">{{item.price | currencyFormat}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="item.toppings">
                                        <div class="row pl-24" *ngFor="let topping of item.toppings">
                                            <div class="col">• {{topping.name}} - {{topping.quantity}}x</div>
                                            <div class="col right">
                                                <span class="f-16">{{topping.price | currencyFormat}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-16">
                                <div class="col">
                                    <span class="f-18 f-bold">Endereço de entrega</span>
                                </div>
                            </div>
                            <div class="row pt-8">
                                <div class="col">
                                    <span class="f-16">{{order?.userAddress?.address}},
                                        {{order?.userAddress?.number}} -
                                        {{order?.userAddress?.neightborhood}}</span>
                                </div>
                            </div>
                            <div class="row pt-16">
                                <div class="col-8">
                                    <span class="f-16">Tempo de entrega após aprovação:</span>
                                </div>
                                <div class="col right">
                                    <span class="f-16">{{order.timeToDelivery}} minutos</span>
                                </div>
                            </div>
                            <div class="row pt-16">
                                <div class="col">
                                    <span class="f-16">Pedido relizado em {{ order.createdDate }}</span>
                                </div>
                            </div>
                            <div class="row f-24">
                                <div class="col center">
                                    <span class="under-line f-16 clickable" (click)="detailPage(order.key)">Ver
                                        detalhes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>