@import '../../shared/styles/mixxins';
#products-page {
    background-color: $default-black;
    color: $default-white;
}

.admin-prod-page {
    background-color: $default-gray !important;
    color: $default-white !important;
}