@import '../../shared/styles/mixxins';
#store-page {
    background-color: $default-black;
    color: $default-white;
}

.admin-prod-page {
    background-color: $default-gray !important;
    color: $default-white !important;
}

.store-info-card {
    padding: 24px;
    border: 1px solid white-space;
    background-color: $default-gray;
}

.districts-list {
    padding: 24px 16px;
    border: solid 1px white;
    background-color: $default-dark-gray;
    margin: 16px 0;
}

.disabled-districts-list {
    padding: 24px 16px;
    border: solid 3px red !important;
    background-color: $default-dark-gray;
    margin: 16px 0;
}