$default-black: #363636;
$default-gray: #747474;
$default-dark-gray: #535353;
$default-light-gray: #c4c4c4;
$default-white: #e6e6e6;
$default-dark-orange: #755000;
$default-orange: #eca200;
$default-light-orange: #d6ae56;
$default-dark-green: #004e48;
$default-green: #00ffb3;
$default-light-green: #78c7b3;